# Database Configuration
DATABASE_URL=your_database_url_here

# Redis Configuration
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url_here
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token_here

# Security Configuration
SESSION_SECRET_KEY=your_session_secret_key_here

# Email Configuration
BREVO_API_KEY=your_brevo_api_key_here

# Server Configuration
ALLOWED_HOSTS=your_allowed_hosts_here # example: localhost,127.0.0.1
HOST=your_host_here # example: 0.0.0.0
PORT=your_port_here # example: 2000